{% extends "base.html" %}
{% block title %} boiler - dashboard {% endblock %}
{% block stylesheets %}{% endblock %}
{% block main %}
	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
		<div class="chartjs-size-monitor">
		    	<div class="chartjs-size-monitor-expand">
			    	<div class=""></div>
		    	</div>
		    	<div class="chartjs-size-monitor-shrink">
			    	<div class=""></div>
		    	</div>
	    	</div>
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        	<h1 class="h2">Dashboard</h1>
      	</div>
      	<canvas class="my-4 w-100 chartjs-render-monitor" id="canvas" style="display: block; height: 486px; width: 1152px;" width="2304" height="972"></canvas>

	<form method="POST">
  		<div class="mb-3">
    			<input type="number" id="target_temperature" name="target_temperature" class="form-control" min="0" max="100" placeholder="Target temperature">
		</div>
  		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

        <form method="GET" action="/api/timer">

                <input type="submit" value="timer" name="timer"/>
        </form>


      	<div class="">
		<p>form, uptime, errors, set maximum temp</p>
	</div>
    </main>
{% endblock %}
{% block scripts %}
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {

	const datasets = [{
                    label: 'Boiler temperature',
		    backgroundColor: 'blue',
                    borderColor: 'blue',
                    data: [],
                    fill: false,
                },{
                    label: 'Target temperature',
		    backgroundColor: 'red',
                    borderColor: 'red',
                    data: [],
                    fill: false,
		},{
                    label: 'Boiler pressure',
		    backgroundColor: 'green',
                    borderColor: 'green',
                    data: [],
                    fill: false,
		},{
                    label: 'Element status',
		    backgroundColor: 'orange',
                    borderColor: 'orange',
                    data: [],
                    fill: false,
		}]

 	const options = {
                responsive: true,
                title: {
                    display: true,
                    text: 'Real-Time boiler status Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }

        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: datasets,
            },
            options: options,
        };

        const context = document.getElementById('canvas').getContext('2d');
        const lineChart = new Chart(context, config);


// Chart data
var getData = function($config, $lineChart) {
// Boiler temp
$.ajax({
	url: 'http://{{server_ip}}/api/boiler-temperature/get',
    success: function(json) {

            if (config.data.labels.length === 20) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
								config.data.datasets[1].data.shift();
								config.data.datasets[2].data.shift();
                config.data.datasets[3].data.shift();
            }

	    			// only current temp may be able to push time
						config.data.labels.push(json.data.time);
	   				config.data.datasets[0].data.push(json.data.value);
    }
  });

// Target temp
$.ajax({
    url: 'http://{{server_ip}}/api/target-temperature/get',
    success: function(json) {
	    config.data.datasets[1].data.push(json.data.value);
    }
  });

	// Boiler pressure
	$.ajax({
	    url: 'http://{{server_ip}}/api/boiler-pressure/get',
	    success: function(json) {
		    config.data.datasets[2].data.push(json.data.value);
	    }
	  });

		// Element status
		$.ajax({
			url: 'http://{{server_ip}}/api/element-status/get',
				success: function(json) {
					config.data.datasets[3].data.push(json.data.value);
				}
			});

 lineChart.update();
};

// get new data every 3 seconds
setInterval(getData, 3000);
});
</script>
{% endblock %}
